<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="mb-8">
      <h1 class="text-4xl font-bold text-center leading-16 sm:text-2xl lg:text-5xl">{{ collection.title }}</h1>
    </div>
    
    {% paginate collection.products by section.settings.number_of_products_per_page %}
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        {% for product in collection.products %}
          {% render 'product-card', product_card: product %}
        {% else %}
          <p>There are no products inside of this collection</p>
        {% endfor %}
      </div>
      <div class="flex justify-center mt-10">
        {% render 'pagination', pagination: paginate %}
      </div>
    {% endpaginate %}

  </div>
</div>

{% schema %}
  {
    "name": "Template Collection",
    "settings": [
      {
        "type": "number",
        "id": "number_of_products_per_page",
        "label": "Number of products per page",
        "default": 8
      }
    ]
  }
{% endschema %}